<div class="card">
	<h1>Editing Default Message</h1>
	
	<%= render 'form', default_message: @default_message %>
	
	<%= link_to 'Show', @default_message %> |
	<%= link_to 'Back', default_messages_path %>
</div>