<script type="text/x-template" id="countdownTemplate">
  <div class="countdown">
    <div class="countdown__card card">
      <div class="timeBlock days">
        <span class="time">{{ days }}</span>
        <span class="unit">days</span>
      </div>
      <div class="timeBlock hours">
        <span class="time">{{ hours }}</span>
        <span class="unit">hours</span>
      </div>
      <div class="timeBlock minutes">
        <span class="time">{{ minutes }}</span>
        <span class="unit">minutes</span>
      </div>
      <div class="timeBlock seconds">
        <span class="time">{{ seconds }}</span>
        <span class="unit">seconds</span>
      </div>
    </div>
  </div> <!-- /.countdown -->
</script>