body
	background: #A5D0E1
	min-height: 100vh
	display: flex
	flex-direction: column
	justify-content: space-between

header
	background: #fff

[v-cloak]
	visibility: hidden

.wrapper
	max-width: 1200px
	width: 95%
	margin: 0 auto

#app
	h1,h2
		font-size: 50px
		text-align: center
	

footer
	background: #ccc