.currentGoal
	background: lightblue

.time
	font-family: $monospace

.dateTime
	display: flex
	flex-wrap: wrap
	align-items: center
	label
		width: 100%
	select
		flex: 1
		margin-bottom: 0
	.at
		margin: 0 5px

.countdown
	display: flex
	justify-content: space-between

.timeBlock
	background: #fff
	align-items: center
	border: 1px solid black
	border-radius: 10px
	display: flex
	font-size: 50px
	flex-direction: column
	height: 200px
	justify-content: center
	width: 200px
