.currentGoal
	background: lightblue

.time
	font-family: $monospace

.dateTime
	display: flex
	flex-wrap: wrap
	align-items: center
	label
		width: 100%
	select
		flex: 1
		margin-bottom: 0
	.at
		margin: 0 5px

.countdown
	display: flex

.countdown__card
	display: flex
	justify-content: center
	background: $white
	margin: auto
	border-radius: 4px
	padding: 20px

.timeBlock
	align-items: center
	border-radius: 10px
	display: flex
	font-size: 50px
	flex-direction: column
	justify-content: center
	width: 200px
	line-height: 1.2
	.time
		font-size: 100px
		text-shadow: 0.25rem -0.25rem rgba(255,0,255,0.75), -0.25rem -0.25rem rgba(0,255,255,0.75), 0 0.5rem rgba(255,193,7,0.75)
	.unit
		font-size: 25px		