<h1>New Custom Message</h1>

Create some motivational messages in the form below. Use <strong>{{name}}</strong>, and the app will sub in your name.

<%= render 'form', custom_message: @custom_message %>

<%= link_to 'Back', custom_messages_path %>
