<div class="card">
	<p id="notice"><%= notice %></p>
	
	<p>
	  <strong>Message:</strong>
	  <%= @custom_message.message %>
	</p>
	
	<%= link_to 'Edit', edit_custom_message_path(@custom_message) %> |
	<%= link_to 'Back', custom_messages_path %>
</div>